@require './_*.styl'

html, body, #root
	height: 100%
.container
	display: grid
	grid-template-areas: "header" "main"
	grid-template-rows: 300px 1fr
	height: 100%
	margin: 0 auto
header
	align-items: center
	display: grid
	grid-template-areas: "intro intro""search favorite"
	grid-template-rows: 1fr 1fr
	grid-template-columns: 2fr 1fr
	grid-area: header
	margin: 0 auto
	width: 1600px
	& .intro
		grid-area: intro
		text-align: center
	& .search
		grid-area: search
		&__text
			height: 50px
			padding: 0
			border: 1
		&__button
			height: 50px
	& .favorite
		grid-area: favorite
		height: 50px
.main
	background: lighten(#000, 90)
	grid-area: main
